<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe 3D</title>
  </head>
  <body>

    <h1 align="center">Tic Tac Toe 3D</h1>
    <form class="" action="/juego" method="post">
      <table id="jugadoresSimbolos">
        <tr>
          <td>
            Jugador 1
          </td>
          <td>
            <input id="simboloX" type="radio" name="simbolo" value="X" >X
          </td>
          <td>
            <input id="simboloO" type="radio" name="simbolo" value="O">O
          </td>
        </tr>
        <tr>
          <td>
            Jugador 2
          </td>
          <td>
            O
          </td>
        </tr>
        <tr>
          <td></td><td align="right"><input type="submit" name="elegir" value="elegir"></td>
        </tr>
      </table>
    </form>

  </body>
</html>
