<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe 3D</title>
    <style>

    .tablero {
          border: 1px solid black;
          width: 600px;
      }

    .tablero tr {
          height: 50px;
      }

    .tablero td {
          height: 200px;
          vertical-align: center;
      }
    </style>
  </head>
  <body>
    <h1 align="center">Tic Tac Toe 3D</h1>
    <table>
      <th>
        Jugadores
      </th>
      <tr>
        <td>
          Jugador 1 jugará con <%= session["simboloJ1"]  %>
        </td>
      </tr>
      <tr>
        <td>
          Jugador 2 jugará con <%= session["simboloJ2"]  %>
        </td>
      </tr>
      <tr>
        <td>
          En turno: <%= session["turno"]%>
        </td>
      </tr>
    </table>
    <table id="tablero9casillas" align=center border="1" style="" class="tablero">
        <tr id=renglon1>
          <td id=casilla1>
            <h3 name="casilla1">O</h3>
            <input type="checkbox" name="1" value="">
          </td>
          <td id=casilla2>
            <img id=imagen2 src="" alt="" />
          </td>
          <td id=casilla3>
            <img id=imagen3 src="" alt="" />
          </td>
        </tr>
        <tr id=renglon2>
          <td id=casilla4>
            <img id=imagen4 src="" alt="" />
          </td>
          <td id=casilla5>
            <img id=imagen5 src="" alt="" />
          </td>
          <td id=casilla6>
            <img id=imagen6 src="" alt="" />
          </td>
        </tr>


        <tr id=renglon3>
          <td id=casilla7>
            <img id=imagen7 src="" alt="" />
          </td>
          <td id=casilla8>
            <img id=imagen8 src="" alt="" />
          </td>
          <td id=casilla9>
            <img id=imagen9 src="" alt="" />
          </td>
        </tr>

    </table>

  </body>
</html>
