<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe 3D</title>
    <style>

    .tablero {
          border: 1px solid black;
          width: 600px;
      }

    .tablero tr {
          height: 50px;
      }

    .tablero td {
          height: 140px;
          width: 140px;
          text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 align="center">Tic Tac Toe 3D</h1>
    <table>
      <th>
        Jugadores
      </th>
      <tr>
        <td>
          Jugador 1 jugará con <%= session["simboloJ1"]  %>
        </td>
      </tr>
      <tr>
        <td>
          Jugador 2 jugará con <%= session["simboloJ2"]  %>
        </td>
      </tr>
      <tr>
        <td>
          En turno: <%= session["turno"]%>
        </td>
      </tr>
    </table>
    <br>
    <form action="/marcar" method="post">
        <input type="text" name="numCasilla" value="">
      <input type="submit" name="Jugar" value="Jugar" >
    </form>

    <table id="tablero9casillas" align=center border="1" style="" class="tablero">
        <tr id=renglon1>
          <td id=casilla1>
            <h1 name="casilla1">O</h1>
          </td>
          <td id=casilla2>
            <h1 name="casilla2">2</h1>
          </td>
          <td id=casilla3>
            <h1 name="casilla3">3</h1>
          </td>
        </tr>
        <tr id=renglon2>
          <td id=casilla4>
            <h1 name="casilla4">4</h1>
          </td>
          <td id=casilla5>
            <h1 name="casilla5">5</h1>
          </td>
          <td id=casilla6>
            <h1 name="casilla6">6</h1>
          </td>
        </tr>


        <tr id=renglon3>
          <td id=casilla7>
            <h1 name="casilla7">7</h1>
          </td>
          <td id=casilla8>
            <h1 name="casilla8">8</h1>
          </td>
          <td id=casilla9>
            <h1 name="casilla9">9</h1>
          </td>
        </tr>

    </table>

  </body>
</html>
